body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
.header-row {
margin-top:1px;
}
.bg2 {
    height:20px;
    float:right;
}
.c1 {
	margin-top:5px;
}
.t1 {
	 margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%;
	
}
.b1 { 
	padding:0;
}
.acolor { 
	text-align: center;
	color:#FFFFFF;
	 font-weight:bold;
}
.btn-group1 {
    background-color: #f49800;
	width:600px;
	margin-top:25px;
	height:80px;
	float:right;
	color: #ffffff;
}
.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.dcenter{
	  float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}
.acenter{
	margin-left:5px;
}
.imgcenter{
	margin-left:5px;
}
.text-center {
  text-align: center;
}
.slidbar_bg {
  background:url('/images/img/celan.png') repeat-x;
  height:870px;
}
.p-wid{
	width:150px;
	text-align: left;
margin:0;
	padding:0;
}
.bordor_bgcolor{
	border-bottom:4px solid #0057ae;

}
.mp0_right{
	margin:0;
	padding:0;
}
.fc_search{ 
	width:70%;
}
.btn1{ 
	margin-top:32px;
}
.img1{ 
	width:100%;
	margin:0;
	padding:0;
}
.fbg{
	background-color:#898989;
	
}
.pdl0{
	 padding-left:38px;
	
}
.pd50{
	 padding-left:20%;
	
}
.notshow{
	display:none;
	
}
.white{
	color: #ffffff;
}
.top{
	 margin-bottom: 10px;
	
}
.bottom{
	 margin-top: 10px;
	
}
.marginlr{
	 margin-left: 1%;
	 margin-right:1%;
	
}
.bottom-border{
	border-top-style:solid;
	border-top-color:#dcdcdc;
	
}
.headera{
	color:#fffff; 
	font-size: 22px;
	font-weight:bold;
	text-color:#fffff;
}
.navbar-default {
  background-color: #F49800;
  border-color: #d94131;
  margin-bottom:0px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e3dada;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  margin-top:30%;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f49800;
   background-color: #fcfaf9;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #f49800;
  background-color: #fcfaf9;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f49800;
  background-color: #d94131;
}
.navbar-default .navbar-toggle {
  border-color: #d94131;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #d94131;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #e3dada;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
   
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.border{
  border-bottom:1px solid #ddd;
  padding-bottom:20px
  }
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
         margin-top: 5px;
         
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e3dada;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e3dada;
    background-color: #d94131;
  }
}
